h1 {
    color: #d269da;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  h2 {
      color: rgb(9, 9, 10);
      padding-left: 20px;
      text-shadow: rgb(117, 46, 193) 0 0 2px;
  }

  .layer1 {
    position: relative; /* Относительное позиционирование */
    background: #d3e2df; /* Цвет фона */
    height: 125px; /* Высота блока */
    border: 1px dashed #20675c;
   }
   .layer2 {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 5px; /* Положение от нижнего края */
    right: 100px; /* Положение от правого края */
    line-height: 1px;
   }

 
  /*
   .flex-container {
    display: flex;
    width: 300px;
    height: 150px;
    align-items: center;
    padding: 10px;
    background-color: #efefef;
  }
  .flex-container_element-1,
  .flex-container_element-2,
  .flex-container_element-3,
  .flex-container_element-4,
  .flex-container_element-5,
  .flex-container_element-6 {
    flex-basis: 70px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
  
    
  } 
  .flex-container_element-1 {
  
    align-self: flex-start;
    background: rgb(68, 199, 255);
   
  } 
  .flex-container_element-2 {
    
    align-self: flex-start;
    background: rgb(111, 201, 172);
    
  } 
  .flex-container_element-3 {
  
    align-self: flex-start;
    background: rgb(198, 142, 195);
    
  }
  .flex-container_element-4 {
   
    align-self: flex-start;
    background: rgb(154, 196, 196);
  
  }  
  .flex-container_element-5 {
    align-self: flex-start;
    background: rgb(198, 213, 144);
  
  }  
  .flex-container_element-6 {
    display: inline-flex;
      border:2px solid #ccc;
      margin-bottom: 10 0px;
    align-self: flex-start;
    background: rgb(198, 213, 144);
  }  
  */

  .container{
    display: flex;
    justify-content: left;
    margin-top: 5px;
    text-align: center;
  }

  .container1 {
    display: flex;
    justify-content: left;
  }

  .first {
    background-color: rgb(161, 238, 161);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .second {
    background-color: rgb(131, 91, 138);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .third {
    background-color: rgb(107, 191, 233);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .fourth {
    background-color: rgb(233, 199, 231);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .fifth {
    background-color: rgb(121, 212, 226);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .sixth {
    background-color: rgb(231, 120, 198);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .seventh {
    background-color: rgb(236, 230, 141);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .fifth {
    background-color: rgb(226, 201, 133);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }

  .eighth {
    background-color: rgb(135, 139, 213);
    height: 100px;
    width: 13%;
    order: 1;
    margin: 5px;
  }
   .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }
  .checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
  }
  .checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
  }
  .checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
  }
  .checkbox:checked + label:before {
    background: rgb(174, 104, 212);
  }
  .checkbox:checked + label:after {
    left: 26px;
  }
  .checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(161, 116, 191, 0.7);
  }

